html, body {
     background-color: rgba(215, 242, 243, 0.75); 
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.navbar {
    padding: 10px 16px;

}
h1 {
    color: #000;
    text-align: center;
}

.instruction {
    font-size: 19px;
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}
canvas {
    border: 2px solid rgba(151, 149, 149, 0.75);
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.8);
    background-color: rgba(242, 246, 247, 0.75); 
}

.footer, .push {
    height: 20px;
    background-color: rgba(29, 161, 242, 0.9);
}